<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://jamesguest.netlify.com/">James Guest</a> A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'profile.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James Guest</h2>
      <br />
      <p>
        James Guest is a Full Stack Web Developer with a background in collegiate coaching experience and the life-long dedication to learning. Effective at combining creativity and problem solving to develop user-friendly applications. Known among staff for strong wit and attention to detail no matter the complexity of the project. The unique experience attained has giving me the attention to detail, motivation and teamwork experience to be a productive counterpart within your team. The diverse experience on the front lines of competitive deadlines along with my skill for learning, teaching and problem solving will be my value to your team. I believe success as an engineer comes from the passion of continual learning. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />