<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://jamesguest.netlify.com/">James Guest</a> A web developer whose unique background in collegiate coaching has given him the spark to give back to the athletic population through an athlete minded quote generator which will provide constantly updated motivation provided by other athletes from around the country!
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'profile.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James Guest</h2>
      <br />
      <p>
        James Guest is a Full Stack Web Developer with a background in collegiate football coaching experience (NCAA DI & DII) and the life-long dedication to learning. Effective at combining creativity and problem solving to develop user-friendly applications. Known among staff for strong wit and attention to detail no matter the complexity of the project. He believes success as an engineer comes from the passion of continual learning. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />